aiobotocore==2.14.0

alembic==1.13.3
amqp==5.3.1

apispec==6.6.1
appdirs==1.4.4

asgiref==3.8.1

atomicwrites==1.4.0

backports.weakref==1.0.post1

billiard==4.2.1

botocore==1.35.7

celery==5.4.0

click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.41.0

cron-descriptor

cssutils
Cython

dj-database-url
Django
django-background-tasks
django-celery-beat
django-ckeditor
django-cloudinary-storage
django-crispy-forms
django-dbbackup
django-debug-toolbar
django-environ
django-formtools
django-heroku
django-import-export
django-inlinecss
django-jazzmin
django-js-asset
django-mathfilters
django-otp
django-phonenumber-field
django-taggit
django-timezone-field
django-two-factor-auth
djangorestframework

environs
et-xmlfile

Flask
Flask-JWT-Extended
Flask-Migrate
flask-smorest
Flask-SQLAlchemy
fonttools

gunicorn

inflection

intel-cmplr-lib-ur
intel-openmp

itsdangerous

jsonpointer

kombu

Mako

marshmallow
mkl

mkl-service

munkres

openpyxl

passlib

patsy

ply
premailer

protobuf

psycopg2-binary

pyasn1-modules

pycurl
PyDispatcher

pyls-spyder
pynliner

pypng
PyQt5
PyQtWebEngine

python-crontab
python-decouple

python-lsp-jsonrpc


qrcode

redis

requests-mock

scipy

shortuuid

sqlparse

stripe

tablib
tbb

vine
watchdog
webargs
webencodings
Werkzeug
whitenoise

zstandard
