<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mike-parody-commerce.css">
    <title>my ecommerce</title>
</head>
<body>
    <div id="page-container">
        <div class="nav-bar">
            <nav class=""></nav>
        </div>
        <div id="hero">
            <div class="right-pack">
                <img src="images/ecommerce-body.PNG" alt="">
            </div>
            <div class="left-pack">
                <p class="discount-t">Get 15% Discount</p>
                <p class="heading-t">Proven To Tackle Wrinkles & Acne</p>
                <p class="price-t">From $49</p>
                <button id="learn-more-btn">Learn more</button>
            </div>
        </div>


        <div id="shop-by-category" class="section-section">
            <div class="shop-category">
                <div class="shop-item">
                    <div class="item-img">
                        <img src="images/converse_4.jpg" alt="converse shoe">
                    </div>
                    <p class="item-t">First Item</p>
                </div>    
                <div class="shop-item">
                    <div class="item-img">
                        <img src="images/converse_4.jpg" alt="converse shoe">
                    </div>
                    <p class="item-t">First Item</p>
                </div>    
                <div class="shop-item">
                    <div class="item-img">
                        <img src="images/converse_4.jpg" alt="converse shoe">
                    </div>
                    <p class="item-t">First Item</p>
                </div>    
                <div class="shop-item">
                    <div class="item-img">
                        <img src="images/converse_4.jpg" alt="converse shoe">
                    </div>
                    <p class="item-t">First Item</p>
                </div>    
                <div class="shop-item">
                    <div class="item-img">
                        <img src="images/converse_4.jpg" alt="converse shoe">
                    </div>
                    <p class="item-t">Second Item</p>
                </div>    
                <div class="shop-item">
                    <div class="item-img">
                        <img src="images/converse_4.jpg" alt="converse shoe">
                    </div>
                    <p class="item-t">Third Item</p>
                </div>    
                <div class="shop-item">
                    <div class="item-img">
                        <img src="images/converse_4.jpg" alt="converse shoe">
                    </div>
                    <p class="item-t">Fourth Item</p>
                </div>    
            </div>
        </div>


        <div id="show-board" class="section-section">
            <div class="img-holder">
                <img src="images/ecommerce-body.PNG" alt="">
            </div>
            <div class="show-t">
                <p>Our Community To Sustainability</p>
                <p>
                    tandard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" 
                </p>
                <button>More About Us</button>
            </div>
        </div>
        <div class="popular-line section-section">
            <div class="p-items">
               <div class="p-img-holder">
                    <img src="images/Converse_2.jpg" class="p-img" alt="">
               </div>
                <div class="p-items-t">
                    <p>ITEM TITLE</p>
                    <p>ITEM DESCRIPTION</p>
                    <p>PRICE</p>
                </div>
            </div>
            <div class="p-items">
               <div class="p-img-holder">
                    <img src="images/Converse_2.jpg" class="p-img" alt="">
               </div>
                <div class="p-items-t">
                    <p>ITEM TITLE</p>
                    <p>ITEM DESCRIPTION</p>
                    <p>PRICE</p>
                </div>
            </div>
            <div class="p-items">
               <div class="p-img-holder">
                    <img src="images/Converse_2.jpg" class="p-img" alt="">
               </div>
                <div class="p-items-t">
                    <p>ITEM TITLE</p>
                    <p>ITEM DESCRIPTION</p>
                    <p>PRICE</p>
                </div>
            </div>
            <div class="p-items">
               <div class="p-img-holder">
                    <img src="images/Converse_2.jpg" class="p-img" alt="">
               </div>
                <div class="p-items-t">
                    <p>ITEM TITLE</p>
                    <p>ITEM DESCRIPTION</p>
                    <p>PRICE</p>
                </div>
            </div>
            <div class="p-items">
               <div class="p-img-holder">
                    <img src="images/bodywash.png" class="p-img" alt="">
               </div>
                <div class="p-items-t">
                    <p>ITEM TITLE</p>
                    <p>ITEM DESCRIPTION</p>
                    <p>PRICE</p>
                </div>
            </div>
            <div class="p-items">
               <div class="p-img-holder">
                    <img src="images/bodywash.png" class="p-img" alt="">
               </div>
                <div class="p-items-t">
                    <p>ITEM TITLE</p>
                    <p>ITEM DESCRIPTION</p>
                    <p>PRICE</p>
                </div>
            </div>
            <div class="p-items">
               <div class="p-img-holder">
                    <img src="images/bodywash.png" class="p-img" alt="">
               </div>
                <div class="p-items-t">
                    <p>ITEM TITLE</p>
                    <p>ITEM DESCRIPTION</p>
                    <p>PRICE</p>
                </div>
            </div>
           
        </div>
        <div class="footer-section section-section">
            <p>Get Your Customized Skin Care</p>
            <p>
                tandard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. 
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum".
            </p>
        </div>
    </div>
</body>
</html>